@import url("./root.css");

/* ================================================================ Max Width Classes ============================================ */
.max_width_1060 {
  max-width: 1060px;
}

/* ================================================================ Position Classes ============================================== */

.z-4 {
  z-index: 4;
}

/* ================================================================ Padding Classes ============================================== */
.pb-40 {
  padding-bottom: 40px;
}

.pt-60 {
  padding-top: 60px;
}

/* ================================================================ Main ========================================================= */

.Main {
  max-width: 1920px;
  padding-top: 42px;
  padding-bottom: 42px;
  z-index: 5;
}

.Underline {
  max-width: 60px;
  height: 2px;
  background-color: var(--MainH-Color);
}

.MainH_Or_line {
  padding-top: 40px;
}

.Sub_H {
  max-width: 799px;
}

.Devices_Box {
  max-width: 510px;
  background-color: var(--white-color);
}

.Device_Uses_img {
  border: 1.09px solid var(--Devices-Brdr);
  border-bottom: none;
}

.All_Devices_Text {
  padding: 30px;
  border: 1.9px solid var(--Devices-Brdr);
  border-top: none;
}

.Common_Btn {
  height: 52px;
  width: 156px;
  outline: none;
  border: none;
  background-color: var(--MainH-Color);
  margin-top: 27.25px;
  transition: all 200ms linear;
}

.Our_Treatment_Btn {
  width: 182px;
}

.Top_Ellips_Img {
  top: 0;
  left: -70px;
  max-width: 532px;
}

.Bottom_Ellips_Img {
  bottom: -55px;
  right: 0;
  max-width: 387px;
}

/* ================================================================ Hover Effects ================================================= */

.Common_Btn:hover {
  background-color: transparent;
  color: var(--black-color) !important;
  border: 1px solid var(--black-color);
  box-shadow: 0px 0px 4px var(--black-color);
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1199.11px) {
  .Max_xl_mx-Auto {
    margin: 0 auto !important;
  }
}

@media (max-width: 575.11px) {
  .pt-60 {
    padding-top: 29px;
  }
}
